<div class="col-md-12 text-center">
<h2 class="big-font color_orange_ligth text-center margin_y_10 padding_y_10">CONTACTANOS</h2>
</div>
<div class="col-md-6 text-left padding_y_25">
	<p>Planta Procesadora: Zona Villa Adela entre calle José Gutierrez y Avenida Litoral</p>
	<p>Almacén Central: Zona Villa Dolores calle 5 Nº 118</p>
	<p>Central de Ventas: Telefono 2824950 - 69844701 - 69844789</p>
	<p>Correo electrónico 1: erick_manwil@outlook.es</p>
	<p>Correo electrónico 2: manwil.ticona.srl@gmail.com</p>
	<p>Servicio al Cliente: Celular 69844729</p>
	<p>Registro de Senansag: 040301020002</p>
	<p>El Alto - Bolivia</p>
</div>

<div class="col-md-6">
	<img src="img/logo.jpg" class="img-responsive">
</div>
