<!-- COMIENZO CARRUSEL DE IMAGENES -->
<div>
  <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
    <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
      <img ng-src="{{slide.image}}" style="margin:auto;" class="img-responsive">
      <div class="carousel-caption">
        <h4>Slide {{slide.id}}</h4>
        <p>{{slide.text}}</p>
      </div>
    </div>
  </div>
</div>
<!-- FIN CARRUSEL DE IMAGENES -->

<div class="col-md-12 padding_10 text-center background_yellow_stronge">
  <div class="col-md-3 padding_y_25">
    <span class="glyphicon glyphicon-fire padding-right color-white"></span>
  </div>
  <p class="col-md-6">
    MANWIL TICONA S.R.L. es una de las empresas, más importantes del país en lo referente a la producción y comercialización de embutidos. Te invitamos a conocerla. 
  </p>
  <div class="col-md-3 padding_y_25">
    <span class="glyphicon glyphicon-fire padding-right color-white"></span>
  </div>
</div>
<!-- BANDA AMARILLA DE DETALLE -- >

<div class="col-md-12 margin_y_10"></div>




<!--/NOTICIAS-->
<div class="col-md-12 margin_y_10"></div>
<div class="col-md-12">
  <div class="col-md-12">
    <div class="col-md-4 col-md-offset-4 text-center background_blue_ligth color-white padding_y_25">
      NOTICIAS Y OFERTAS
    </div>  
  </div>
</div> 

<!-- Folleto de de productos -->
<div class="col-xs-12 col-md-4 margin_top_20 text-center hover_producto">
  <div class="col-xs-12 text-center padding_x_0">        
    <div class="contenedor-img efecto_opacity">
      <img src="img/chorizo.jpg" class="img-responsive">
      <div class="mascara">
        <h2>Ejemplo</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae tortor diam in ullamcorper  malesuada.</p>
        <a class="link" href="#">Leer mas</a>
      </div>
      <div class="col-xs-12">
        <p class="padding_10_producto">
          Esto es una descripcion del producto.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-4 margin_top_20 text-center hover_producto">
  <div class="col-xs-12 text-center padding_x_0">        
    <div class="contenedor-img efecto_opacity">
      <img src="img/chorizo2.jpg" class="img-responsive">
      <div class="mascara">
        <h2>Ejemplo</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae tortor diam in ullamcorper  malesuada.</p>
        <a class="link" href="#">Leer mas</a>
      </div>
      <div class="col-xs-12">
        <p class="padding_10_producto">
          Esto es una descripcion del producto.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-4 margin_top_20 text-center hover_producto">
  <div class="col-xs-12 text-center padding_x_0">        
    <div class="contenedor-img efecto_opacity">
      <img src="img/salchicha.jpg" class="img-responsive">
      <div class="mascara">
        <h2>Ejemplo</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae tortor diam in ullamcorper  malesuada.</p>
        <a class="link" href="#">Leer mas</a>
      </div>
      <div class="col-xs-12">
        <p class="padding_10_producto">
          Esto es una descripcion del producto.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  
</div>

