<!--
<div class="col-xs-12 col-md-offset-2 col-md-3 margin_top_20 text-center hover_producto">
  <div class="col-xs-12 text-center padding_x_0">        
    <div class="contenedor-img efecto_opacity">
      <img src="img/chorizo2.jpg" class="img-responsive">
      <div class="mascara">
        <h2>Ejemplo</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae tortor diam in ullamcorper  malesuada.</p>
        <a id="hover_link" class="link" href="#">Leer mas</a>
      </div>
      <div class="col-xs-12">
        <p class="padding_10_producto">
          Esto e s una descripcion del producto.
        </p>
      </div>
    </div>
  </div>
</div>
-->
<!-- ng repeat para los productos -->


<!-- codigo de los productos cada div es un cajon de producto-->
<div class="background_embutidos col-md-12 col-xs-12">

<div class="col-md-12 padding_y_10"></div>
<div class="col-xs-12 col-md-offset-1 col-md-4 margin_top_20 text-center hover_producto">
  <div class="col-md-12 padding_10 border_radio_top background_1">SALCHICHA CON PIEL</div>
  <div class="col-xs-12 text-center padding_x_0">        
    <div id="p_1" class="contenedor-img efecto_opacity">
      <img src="img/salchicha_con_piel.jpg" class="img-responsive">
      <div class="mascara">
        <a id="hover_link" class="link hover_link" href="" ng-click="modalShow(1)"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-offset-2 col-md-4 margin_top_20 text-center hover_producto">
<div class="col-md-12 padding_10 border_radio_top background_2">SALCHICHA TIPO VIENA</div>
  <div class="col-xs-12 text-center padding_x_0">        
    <div id="p_2" class="contenedor-img efecto_opacity">
      <img src="img/salchicha_paquete.jpg" class="img-responsive">
      <div class="mascara">
        <a id="hover_link" class="link hover_link" href="" ng-click="modalShow(2)"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-offset-1 col-md-4 margin_top_20 text-center hover_producto">
<div class="col-md-12 padding_10 border_radio_top background_b">SALCHICHA ESPECIAL</div>
  <div class="col-xs-12 text-center padding_x_0">        
    <div id="p_3" class="contenedor-img efecto_opacity">
      <img src="img/salchicha_especial.jpg" class="img-responsive">
      <div class="mascara">
        <a id="hover_link" class="link hover_link" href="" ng-click="modalShow(3)"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-offset-2 col-md-4 margin_top_20 text-center hover_producto">
<div class="col-md-12 padding_10 border_radio_top background_p">CHORIZO PRECOCIDO</div>
  <div class="col-xs-12 text-center padding_x_0">        
    <div id="p_4" class="contenedor-img efecto_opacity">
      <img src="img/chorizo_precocido1.png" class="img-responsive">
      <div class="mascara">
        <a id="hover_link" class="link hover_link" href="" ng-click="modalShow(4)"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-offset-1 col-md-4 margin_top_20 text-center hover_producto">
<div class="col-md-12 padding_10 border_radio_top background_g">JAMÓN</div>
  <div class="col-xs-12 text-center padding_x_0">        
    <div id="p_5" class="contenedor-img efecto_opacity">
      <img src="img/jamon1.png" class="img-responsive">
      <div class="mascara">
        <a id="hover_link" class="link hover_link" href="" ng-click="modalShow(5)"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-offset-2 col-md-4 margin_top_20 text-center hover_producto">
<div class="col-md-12 padding_10 border_radio_top background_bl">CHORIZO COCTELERO</div>
  <div class="col-xs-12 text-center padding_x_0">        
    <div id="p_6" class="contenedor-img efecto_opacity">
      <img src="img/chorizo_coctelero.jpg" class="img-responsive">
      <div class="mascara">
        <a id="hover_link" class="link hover_link" href="" ng-click="modalShow(6)"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-offset-1 col-md-4 margin_top_20 text-center hover_producto">
<div class="col-md-12 padding_10 border_radio_top background_gl">CHORIZO ESPAÑOL</div>
  <div class="col-xs-12 text-center padding_x_0">        
    <div id="p_7" class="contenedor-img efecto_opacity">
      <img src="img/chorizo_espanol.jpg" class="img-responsive">
      <div class="mascara">
        <a id="hover_link" class="link hover_link" href="" ng-click="modalShow(7)"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-offset-2 col-md-4 margin_top_20 text-center hover_producto">
<div class="col-md-12 padding_10 border_radio_top background_v">SALAME</div>
  <div class="col-xs-12 text-center padding_x_0">        
    <div id="p_8" class="contenedor-img efecto_opacity">
      <img src="img/salame.jpg" class="img-responsive">
      <div class="mascara">
        <a id="hover_link" class="link hover_link" href="" ng-click="modalShow(8)"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-offset-1 col-md-4 margin_top_20 text-center hover_producto">
<div class="col-md-12 padding_10 border_radio_top background_1">TOCINO AHUMADO</div>
  <div class="col-xs-12 text-center padding_x_0">        
    <div id="p_9" class="contenedor-img efecto_opacity">
      <img src="img/tocino1.jpg" class="img-responsive">
      <div class="mascara">
        <a id="hover_link" class="link hover_link" href="" ng-click="modalShow(9)"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-offset-2 col-md-4 margin_top_20 text-center hover_producto">
<div class="col-md-12 padding_10 border_radio_top background_v">MORTADELAS</div>
  <div class="col-xs-12 text-center padding_x_0">        
    <div id="p_8" class="contenedor-img efecto_opacity">
      <img src="img/mortadelas.jpg" class="img-responsive">
      <div class="mascara">
        <a id="hover_link" class="link hover_link" href="" ng-click="modalShow(10)"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 padding_y_10"></div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content background_fondo_modal">
      <div class="modal-header {{background}} text-center">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <h4 class="modal-title">{{titulo}}</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <img src="{{imagen}}" class="img-responsive">
        </div>
        <div class="col-md-12 padding_y_10">
          <p class="">{{mensaje}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>
